* {
	box-sizing: border-box;
}
body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #4d4d4d;
}
[class*='btn'] {
	color: #fff;
	font-weight: bold;
	display: inline-flex;
	align-items: center;
	font-size: 14px;
	text-decoration: none;
	padding: 16px 15px;
	border-radius: 22px;
}
.btn-success {
	background: #8fc5cf;
}
.btn-cancel {
	background: #b3b3b3;
}
.container {
	padding-left: 15px;
	padding-right: 15px;
	max-width: 1266px;
	margin-right: auto;
	margin-left: auto;
}
.cumpleanios__banner {
	margin-top: 15px;
}
.cumpleanios__banner img {
	max-width: 100%;
	width: 100%;
	height: 120px;
	object-fit: cover;
	object-position: center;
}
.cumpleanios__title {
	text-align: center;
	font-size: 45px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.cumpleanios__description {
	font-size: 14px;
	margin-bottom: 26px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.cumpleanios__description a {
	color: #8fc5cf;
	text-decoration: none;
	font-weight: bold;
}
.cumpleanios__wrapper__carousel .splide__arrow {
	width: 35px;
	height: 60px;
}
.cumpleanios__wrapper__carousel .splide__arrow svg {
	display: none;
}
.cumpleanios__wrapper__carousel .splide__arrow.splide__arrow--prev {
	background: url('../images/Trazado 16.png');
}
.cumpleanios__wrapper__carousel .splide__arrow.splide__arrow--next {
	background: url('../images/Trazado 15.png');
}
@media (min-width: 1300px) {
	.cumpleanios__wrapper__carousel .splide__arrow.splide__arrow--prev {
		left: -30px;
	}
	.cumpleanios__wrapper__carousel .splide__arrow.splide__arrow--next {
		right: -30px;
	}
}
@media (min-width: 1667px) {
	.cumpleanios__wrapper__carousel .splide__arrow.splide__arrow--prev {
		left: -100px;
	}
	.cumpleanios__wrapper__carousel .splide__arrow.splide__arrow--next {
		right: -100px;
	}
}
.cumpleanios__carousel__item {
	text-align: center;
	width: 180px;
	margin-left: auto;
	margin-right: auto;
}
@media (min-width: 1300px) {
	.cumpleanios__wrapper__carousel .cumpleanios__carousel__item {
		width: 150px;
	}
	.cumpleanios__wrapper__carousel .cumpleanios__carousel__item .content img {
		height: 155px !important;
	}
}
@media (min-width: 1667px) {
	.cumpleanios__wrapper__carousel .cumpleanios__carousel__item {
		width: 180px;
	}
	.cumpleanios__wrapper__carousel .cumpleanios__carousel__item .content img {
		height: 155px !important;
	}
}
[class*='__item'] .date {
	font-size: 20px;
	font-weight: bold;
}
[class*='__item'] .content img {
	border-radius: 50%;
	height: 155px;
	width: 155px;
	max-width: 100%;
}
.cumpleanios__carousel__item img {
	margin-top: 32px;
}
[class*='__item'] .name {
	color: #8fc5cf;
	font-size: 15px;
}
.cumpleanios__carousel__item .name {
	margin-top: 24px;

	margin-bottom: 18px;
}

.cumpleanios__list {
	display: flex;
	flex-wrap: wrap;
	margin-top: 54px;
	margin-bottom: 54px;
	gap: 72px;
	justify-content: center;
}
.cumpleanios__list .cumpleanios__carousel__item {
	width: 332px;
	margin-left: initial;
	margin-right: initial;
}
@media (min-width: 1300px) {
	.cumpleanios__list .cumpleanios__carousel__item {
		width: 262px;
	}
}
@media (min-width: 1667px) {
	.cumpleanios__list .cumpleanios__carousel__item {
		width: 332px;
	}
}
.cumpleanios__list .cumpleanios__carousel__item .date {
	margin-bottom: 28px;
}
.cumpleanios__list .cumpleanios__carousel__item img {
	margin-top: 0;
}
.cumpleanios__list .cumpleanios__carousel__item .content {
	background: #f2f2f2;
	border-radius: 12px;
	padding-top: 38px;
	padding-bottom: 38px;
}
@media (min-width: 1200px) {
	.cumpleanios__list {
		gap: 72px;
	}
}
@media (min-width: 1667px) {
	.cumpleanios__list {
		width: 1236px;
		margin-left: auto;
		justify-content: center;
		margin-right: auto;
	}
}
.filter .filter__field:last-child {
	margin-bottom: 0;
}
.filter__field {
	margin-bottom: 15px;
}
.filter__field.w-datepicker {
	position: relative;
}
.filter__field label {
	display: block;
	padding-bottom: 5px;
}
.filter__field input {
	width: 100%;
	border: 1px solid #9ecdd5;
	padding: 11px 26px;
	border-radius: 10px;
}
.filter__field.w-datepicker input {
	padding-right: 58px;
}
.filter__field.w-datepicker img {
	/*position: absolute;*/
	right: 14px;
	bottom: 12px;
}
@media (min-width: 992px) {
	.filter {
		display: flex;
		gap: 38px;
	}
	.filter__field {
		margin-bottom: 0;
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 400px;
	}
	.filter__field label {
		width: 110px;
		display: block;
		text-align: right;
	}
	.filter__field input {
		width: calc(100% - 142px);
	}
	.filter__field.w-datepicker img {
		right: 33px;
	}
}
@media (min-width: 1200px) {
	.filter__field {
		width: 550px;
	}
}
.modal-windows {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	background: rgba(0, 0, 0, 0.4);
	inset: 0;
	z-index: 999;
	visibility: hidden;
	opacity: 0;
	pointer-events: 0;
	transition: all 0.3s;
	overflow: auto;
}
.modal-windows:target {
	visibility: visible;
	opacity: 1;
	pointer-events: auto;
}
.modal-windows .modal-body {
	width: 100%;
	max-width: 600px;
	padding: 15px;
}
.modal-windows .modal-content {
	background-color: #fff;
}
.modal-windows .modal-content > img {
	max-width: 100%;
	height: 40px;
	object-fit: cover;
	width: 100%;
	object-position: center;
}
.modal-windows .modal-content .cumpleanios__item {
	padding: 15px 30px;
}
.modal-windows .modal-content .cumpleanios__item .profile-info {
	text-align: center;
}
.modal-windows .modal-content .cumpleanios__item .profile-info .date {
	font-size: 20px;
	margin-bottom: 10px;
}
.modal-windows .modal-content h4 {
	color: #8fc5cf;
	text-align: center;
	font-size: 20px;
	margin-top: 15px;
	margin-bottom: 10px;
}
.modal-windows .modal-content .cumpleanios__item .profile-info .content img {
	width: 120px;
	height: 120px;
}
.modal-windows .modal-content .cumpleanios__item .profile-info .content h5 {
	margin-top: 5px;
	margin-bottom: 10px;
}
.modal-windows .modal-content .cumpleanios__item .profile-info ~ p {
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;
}
.modal-windows .modal-content .cumpleanios__item textarea {
	width: 100%;
	padding: 15px;
	border-radius: 10px;
	height: 100px;
	border: 1px solid #8fc5cf;
}
.modal-windows .modal-content .cumpleanios__item .options-emails {
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}
.modal-windows .modal-content .cumpleanios__item .options-emails div img {
	width: 100px;
	padding: 0px 5px;
}
.modal-windows .modal-content .cumpleanios__item .options-emails div {
	margin-bottom: 15px;
	display: inline-block;
}
.modal-windows .modal-content .cumpleanios__item .buttons {
	display: flex;
	justify-content: space-evenly;
}

[type='radio']:checked,
[type='radio']:not(:checked) {
	position: absolute;
	left: -9999px;
}
[type='radio']:checked + label,
[type='radio']:not(:checked) + label {
	position: relative;
	padding-left: 28px;
	cursor: pointer;
	line-height: 20px;
	display: inline-block;
	color: #666;
}
[type='radio']:checked + label:before,
[type='radio']:not(:checked) + label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 18px;
	height: 18px;
	border: 1px solid #8fc5cf;
	border-radius: 100%;
	background: #fff;
}
[type='radio']:checked + label:after,
[type='radio']:not(:checked) + label:after {
	content: '';
	width: 12px;
	height: 12px;
	background: #8fc5cf;
	position: absolute;
	top: 4px;
	left: 4px;
	border-radius: 100%;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
[type='radio']:not(:checked) + label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}
[type='radio']:checked + label:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.modal-windows .modal-content .cumpleanios__item .buttons {
	justify-content: center;
	gap: 122px;
}

.paginations {
	display: block;
    text-align: center;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.paginations a {
	display: inline-block;
	padding: 5px;
	border: 1px solid #8fc5cf;
	border-radius: 5px;
	width: 25px;
	height: 25px;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	cursor: pointer;
	margin: 5px;
}

.paginations a:hover,
.paginations a.current {
	background: #8fc5cf;
	color: #fff;
}

.msjerror {
	color: red !important;
}

@keyframes LoaderRippleAnimation {
	0% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		top: 0px;
		left: 0px;
		width: 72px;
		height: 72px;
		opacity: 0;
	}
}

.LoaderDiv {
	position: absolute;
	inset: 0;
	background-color: rgba(255, 255, 255, 0.7);
	z-index: 9999999;
	display: none;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.LoaderDiv.display {
	display: flex;
}
.LoaderRipple {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.LoaderRipple:nth-child(2) {
	animation-delay: -0.5s;
}
.LoaderDivChild {
	position: absolute;
	border: 4px solid #19b9f5;
	opacity: 1;
	border-radius: 50%;
	animation: LoaderRippleAnimation 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}


@media (min-width: 768px) {
	.modal-windows .modal-content .cumpleanios__item .profile-info {
		text-align: left;
	}
	.modal-windows .modal-content .cumpleanios__item .profile-info .content {
		display: flex;
	}
	.modal-windows .modal-content .cumpleanios__item .profile-info .content img {
		margin-left: 32px;
		margin-right: 52px;
	}
	.modal-windows .modal-content .cumpleanios__item .options-emails {
		display: flex;
		justify-content: space-evenly;
	}
	.modal-windows .modal-content .cumpleanios__item .options-emails div {
		margin-bottom: 0;
	}
	[type='radio']:checked + label,
	[type='radio']:not(:checked) + label {
		padding-left: 0;
		padding-top: 28px;
	}
	[type='radio']:checked + label:before,
	[type='radio']:not(:checked) + label:before {
		left: 50%;
		margin-left: -9px;
	}
	[type='radio']:checked + label:after,
	[type='radio']:not(:checked) + label:after {
		left: 50%;
		margin-left: -5px;
	}
}

@media (max-width: 750px) {
	.filter__field.w-datepicker img {
		display: none;
	}
	.cumpleanios__banner img {
		height: auto;
	}
	.cumpleanios__title{
		font-size: 25px;
	}
	.modal-windows .modal-content .cumpleanios__item .options-emails div img{
		width: 57px;
	}
	.modal-windows .modal-content .cumpleanios__item .buttons{
		gap: 22px !important;
	}
}